/* Importa estilos globais da tela inicial */
@import url("index.css");

/* BODY - Centralização do conteúdo */
body {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.5s ease-out;
}

/* Container Principal de LOGIN */
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    color: white;

    width: 200px;
}

/* Estilização da imagem usuario  */
.login img#user {  
    width: 200px;
    background-color: gray;

    padding: 40px;
    border-radius: 50%;
}

/* Estilização 'Nome Usuario'  */
.login h1 {  
    font-size: 40px;
}

/* Div:  Input e Icon dentro Login  */
.login-input  {
    display: flex;
    border: 2px solid rgb(128, 128, 128, 0.5);
}

/* Estilização INPUT */
.login-input input {  
    font-size: 18px;
    color: #474646;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-right: 2px solid rgb(128, 128, 128, 0.5); ;
    padding: 10px 5px;
    outline: none;
    width: 300px;
}

/* Estilização do placeholder (texto dentro do input) */
.login-input input::placeholder {
    color: rgba(88, 88, 88, 0.6);
}

/* Estilização do Botão (com icone) */
.login-input button  {
    width: 45px;
    border: none;
    background-color: rgb(255, 255, 255, 0.5);
    cursor: pointer;
}

/* Estilização do Icone */
.login-input img {
    width: 25px;
    margin: 0 5px;
}