/* Importa estilos globais da tela inicial */
@import url("index.css");

/* BODY - Nova imagem */
body {
    display: flex;
    background-image: url(../img/TelaInicial-W.jpg);
    color: white;
}

/* Estilização container principal */
.area-trabalho-container {
    height: 100%;
    margin-left: 10px;
}

/* Estilização icones da area de trabalho */
.icon-area-trabalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    box-shadow: 0 0 1px 0px black;
}

/* Tamanho icones/imagens */
.icon-area-trabalho img {
    width: 60px;
}

/* Estilização fontes icones da area de trabalho */
.icon-area-trabalho p {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

/* Estilização Barra de taferas */
.barra-de-tarefas {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Alinha um grupo à esquerda e outro à direita */
    align-items: center;
    padding: 0 10px;
    background-color: rgb(59, 59, 59);
    height: 50px;
}

/* Estilização geral Icones/Imagens lado esquerdo */
.menu-de-tarefas-esquerda {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Tamanho Icones/Imagens -> Esquerda */
.menu-de-tarefas-esquerda img {
    width: 30px;
    height: 30px;
}

/* Estilização geral Icones/Imagens lado direito */
.menu-de-tarefas-direita {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
}

/* Tamanho Icones/Imagens -> Direito */
.menu-de-tarefas-direita img {
    width: 18px;
    height: 15px;
    cursor: pointer;
}

.menu-de-tarefas-esquerda img,
.menu-de-tarefas-direita img,
.menu-de-tarefas-direita div {
    cursor: pointer;
}

/* Tamanho Personalizado Icone Mensagem -> Direito */
#notificacao {
    width: 30px;
    height: 25px;
}